
{{!-- formulario para crear productos --}}
<form id="form">
    <h3>Crear un nuevo Producto</h3>
    <ul>
        <li>
            <label for="title-addproduct">Title:</label>
            <input type="text" id="title-addproduct" name="title-product" required>
        </li>
        <li>
            <label for="img-addproduct">Thumbnail:</label>
            <input type="text" id="img-addproduct" name="img-product" >
        </li>
        <li>
            <label for="description-addproduct">Descriptión:</label>
            <input type="text" id="description-addproduct" name="description-product" required>
        </li>
        <li>
            <label for="price-addproduct">Price:</label>
            <input type="text" id="price-addproduct" name="price-product" required>
        </li>
        
        <li>
            <label for="stock-addproduct">Stock:</label>
            <input type="text" id="stock-addproduct" name="stock-product" required>
        </li>
        <li>
            <label for="category-addproduct">Category:</label>
            <input type="text" id="category-addproduct" name="category-product" required>
        </li>
        <li>
            <label for="code-addproduct">Code:</label>
            <input type="text" id="code-addproduct" name="code-product" required>
        </li>
        <button type="submit" id="button-add-product">Add product</button>
    </ul>
</form>

<div>
    <h2 class="title-home">Product list in real time</h2>
    <div id="add-product-in-container"  class="container-card-home">

    </div>
    
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.6.0/socket.io.min.js" integrity="sha512-uXal8CICQ52UxoF9A3yBP6GUXGu5N2IoTZf/YXGMW4M0AvNyViA0ZjpGf9uqRpkN4kyx41Y5I0DmTQNOS6G05A==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="js/main.js"></script>
</div>




 